.intro{
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.part2{
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
}
*{
    background: red;
}
h4{
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logo{
    background-image: url("/img/logo.png");
    background-color: red;
    height: 300px;
    width: 300px;
    border-radius: 100px;
}